.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

{/* add and remove button container */}
.button-container{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

{/* light and switch box container */}
.box-container {
  height: 200px;
  width: 200px;
}

{/* Light & switch box list container */}
.screen-container{
  display : flex;
  flex-flow: row wrap;
  justify-content: center;
}

{/* swith container */}
.switch-container {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 110px;
  margin-top: 30px;
  -webkit-transform: translate3d( -50%, -50%, 0 );
  transform: translate3d( -50%, -50%, 0 );
}

{/* off switch */}
input[type="checkbox"].switch  {
  position: relative;
  opacity: 0;
}

{/* inside OFF blue container */}
input[type="checkbox"].switch + div {
  vertical-align: middle;
  width: 100px;
  height: 50px;
  border-radius: 999px;
  background-color: #00B0F2;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;

}

{/* inside OFF blue circle button container */}
input[type="checkbox"].switch + div {
  width: 94px;
  height: 48px;
}

{/*inside circle button*/}
input[type="checkbox"].switch + div > div {
  float: left;
  width: 33px; height: 40px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(1,0,1,0);
  transition-timing-function: cubic-bezier(1,0,1,0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
  padding: 5px 1px 1px 11px;
}

{/*inside circle button white background*/}
input[type="checkbox"].switch + div span {
  position: relative;
  font-size: 1.6rem;
  color: #fffff;
  margin-top: 12px;
}

{/*inside circle button start and end position*/}
input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

{/* inside ON green container */}
input[type="checkbox"].switch:checked + div {
  width: 94px;
  background-position: 0 0;
  background-color: #3b89ec;
}


{/* inside ON green circle button container */}
input[type="checkbox"].switch:checked + div {
  background-color: #57BB00;
}

{/* inside ON white circle button container */}
input[type="checkbox"].switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

{/* inside ON white circle button container */}
input[type="checkbox"].switch:checked + div > div {
  -webkit-transform: translate3d(46px, 0, 0);
  transform: translate3d(46px, 0, 0);
}


{/* light container */}
.light-container {
  position: relative;
  /*top: 50%; left: 50%;*/
  width: 100px;
  height:100px;
  margin:auto;
}

input[type="checkbox"].light  {
  position: relative;
  opacity: 0;
}

{/* inside OFF light container */}
input[type="checkbox"].light + div {
  /*border: 1px solid #D5DCDE;*/
  margin-left: -10px;
  margin-top: -40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #333333;
  -webkit-transition-duration: 10s;
  transition-duration: 10s;
  cursor: pointer;
}

{/* inside ON Light container */}
input[type="checkbox"].light:checked + div {
  border: 5px solid #ffdd44;
  /*width: 94px;*/
  background-position: 0 0;
  background-color: #ffdd44;
}

{/* inside ON Light glowing effect */}
input[type="checkbox"].light:checked + div {
  background-color: rgba(255, 255,153, 1);
  box-shadow: 0 0 15px 10px #ffdd44;
  opacity: .85;
}


{/* light container */}
.room-container {
  position: relative;
  /*top: 50%; left: 50%;*/
  width: 200px;
  height:200px;
  margin:auto;
  background: black;
  border: 1px solid white;
}

input[type="checkbox"].room  {
  position: relative;
  opacity: 0;
}

{/* inside OFF light container */}
input[type="checkbox"].room + div {
  /*border: 1px solid #D5DCDE;*/
  margin-top: 40px;
  margin-left: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  -webkit-transition-duration: 10s;
  transition-duration: 10s;
  cursor: pointer;
}

{/* inside ON Light container */}
input[type="checkbox"].room:checked + div {
  /*width: 94px;*/
  background-position: 0 0;
  background-color: #ffffff;
}

{/* inside ON Light glowing effect */}
input[type="checkbox"].room:checked + div {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 90px 50px #fff;
  opacity: .95;
}
